* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #4b4a53;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0f0f1b;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

.lead {
  width: 63%;
  line-height: 1.5;
  margin: 0 auto 3rem;
  text-align: center;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 82%;
  max-width: 1800px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
  margin: 5rem 0;
}

.btn {
  background: #0f0f1b;
  color: #fff;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.btn:hover {
  background: #f5f5f5;
  color: #0f0f1b;
}

.btn-primary {
  background: #7562e0;
  color: #fff;
}

.btn-primary:hover {
  border-color: #7562e0;
  background: #f5f5f5;
  color: #7562e0;
}

.btn-lg {
  padding: 1.1rem 2rem;
  font-size: 1.2rem;
}

/* =================== Navbar =================== */
nav {
  width: 100vw;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 2;
  background: #fff;
}

nav a {
  color: #0f0f1b;
  font-size: 0.9rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

nav a:hover {
  color: #7562e0;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*open and close buttons for tablets and phones*/
nav button {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

/* =================== Header =================== */
header {
  height: calc(100vh - 5rem);
  position: relative;
  top: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: 100%;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__left h3 {
  color: #7562e0;
  margin-bottom: 0.6rem;
}

.header__left p {
  margin: 1.2rem 0 2rem;
}

.header__right {
  position: relative;
  height: 100%;
}

.header__socials {
  position: absolute;
  right: 0;
  bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.header__socials a {
  color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header__socials a:hover {
  color: #0f0f1b;
}

.header__right-bg {
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  background: #7562e0;
  position: absolute;
  right: -30rem;
  bottom: -30rem;
}

.header__image {
  width: 82%;
  position: absolute;
  bottom: -1rem;
  z-index: 1;
}

/* =================== Techs =================== */
section #techs {
  position: relative;
  top: 5rem;
  padding: 0;
  background: #f5f5f5;
  margin: 0;
}

.techs__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.techs__container img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.techs__container span {
  padding: 1.5rem;
}

/* =================== Services =================== */
section #services {
  margin-top: 8rem;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
  gap: 2rem;
}

.services__left {
  background: #7562e0;
  padding: 2rem;
  color: #f5f5f5;
}

.services__left h1 {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}

.services__left h4 {
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
}

.services__right h2 {
  margin-bottom: 2rem;
}

.services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services__card {
  background: #f5f5f5;
  padding: 4rem 2rem;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.services__card:hover {
  background: #7562e0;
  color: #fff;
}

.services__card:hover * {
  color: #fff;
}

.services__card:hover a {
  margin-left: 1rem;
}

.services__card h5 {
  margin: 1rem 0;
}

.services__card a {
  color: #7562e0;
}

.services__card-icon {
  font-size: 2rem;
}

/* =================== Portfolio =================== */
#portfolio {
  background: #f5f5f5;
}

.portfolio__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

.portfolio__head h3 {
  width: 25%;
}

.portfolio__head-right {
  width: 49%;
}

.portfolio__head-right a {
  margin-top: 1.4rem;
  display: inline-block;
  color: #7562e0;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.portfolio__head-right a:hover {
  margin-left: 1rem;
}

.portfolio__projects {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.portfolio__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 1rem;
}

.portfolio__project-image {
  height: 20rem;
  display: block;
  border: 1rem solid #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1.6rem rgba(102, 0, 255, 0.2);
          box-shadow: 0 0 1.6rem rgba(102, 0, 255, 0.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.portfolio__project-image:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio__project-image:hover img {
  -webkit-transform: translateY(calc(-100% + 18rem));
          transform: translateY(calc(-100% + 18rem));
}

.portfolio__project-image img {
  -webkit-transform: 0;
          transform: 0;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

.portfolio__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

/* =================== Testimonials =================== */
#testimonials h2 {
  text-align: center;
}

.testimonials__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  background: #f5f5f5;
  padding: 3rem;
  font-size: 0.88rem;
  border: 1px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.testimonial:hover {
  background: transparent;
  border-color: #7562e0;
  color: #7562e0;
  -webkit-box-shadow: 0 2rem 2rem rgba(102, 0, 255, 0.2);
          box-shadow: 0 2rem 2rem rgba(102, 0, 255, 0.2);
  z-index: 1;
}

.avatar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.testimonial__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

/* =================== Contact =================== */
#contact {
  background: #7562e0;
  color: #fff;
  margin: 0;
}

.contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 8rem;
  font-size: 0.9rem;
}

.contact__container h2 {
  color: #fff;
}

.contact__container p {
  margin: 1rem 0 2rem;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.contact__socials a {
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.contact__socials a:hover {
  color: #0f0f1b;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

form input,
form textarea {
  padding: 1rem;
}

footer {
  text-align: center;
  background: #7562e0;
  padding: 1.2rem 0;
  color: #fff;
  border-top: 1px solid #0f0f1b;
}

/* =================== MEDIA QUERIES (TABLETS) =================== */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .container {
    width: 90%;
  }
  .lead {
    margin-top: 0.6rem;
  }
  /* =================== NAVBAR =================== */
  nav {
    background: #0f0f1b;
  }
  nav button {
    display: inline-block;
    margin-right: 1.4rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 2.4rem;
  }
  nav #close-menu-btn {
    display: none;
  }
  .nav__container {
    position: relative;
    width: 100vw;
  }
  .nav__logo h3 {
    color: #fff;
    margin-left: 2rem;
  }
  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    z-index: 3;
    display: none;
    -webkit-perspective: 400px;
            perspective: 400px;
  }
  .nav__menu li {
    width: 100%;
    height: 5.4rem;
    opacity: 0;
    -webkit-animation: flipNavItem 200ms 0s ease forwards;
            animation: flipNavItem 200ms 0s ease forwards;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .nav__menu li a {
    background: #7562e0;
    -webkit-box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__menu li a:hover {
    background: #f5f5f5;
    color: #0f0f1b;
  }
  .nav__menu li:nth-child(2) {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
  }
  .nav__menu li:nth-child(3) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  .nav__menu li:nth-child(4) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  .nav__menu li:nth-child(5) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  @-webkit-keyframes flipNavItem {
    from {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    to {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes flipNavItem {
    from {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    to {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  /* =================== HEADER =================== */
  header {
    height: 100%;
    padding: 14rem 0 0;
  }
  .header__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
  }
  .header__left {
    margin-bottom: 6rem;
  }
  .header__right {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100%;
  }
  .header__right-bg {
    width: 30rem;
    height: 30rem;
    right: 50%;
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .header__image {
    bottom: -1rem;
    width: 80%;
  }
  .header__socials {
    bottom: 4rem;
  }
  .header__socials a {
    color: #7562e0;
  }
  /* =================== COMPANIES =================== */
  .techs__container {
    gap: 0;
  }
  .techs__container span {
    padding: 1.5rem;
  }
  /* =================== SERVICES =================== */
  .services__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .services__left {
    display: none;
  }
  .services__cards {
    gap: 1rem;
  }
  /* =================== PORTFOLIO =================== */
  .portfolio__head h3 {
    width: 40%;
  }
  .portfolio__head-right {
    width: auto;
  }
  /* =================== TESTIMONIALS =================== */
  .testimonials__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
  /* =================== CONTACT =================== */
  .contact__container {
    gap: 2rem;
  }
  .contact__socials a {
    font-size: 1.7rem;
  }
}

/* =================== MEDIA QUERIES (MOBILE) =================== */
@media screen and (max-width: 600px) {
  .container {
    width: 96%;
  }
  section {
    padding: 4rem 0;
    margin: 4rem 0;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .btn-lg {
    font-size: 1rem;
  }
  .lead {
    width: 96%;
  }
  /* =================== NAVBAR =================== */
  nav button {
    margin: 0;
    font-size: 1.9rem;
  }
  .nav__logo h3 {
    margin-left: 4px;
  }
  /* =================== HEADER =================== */
  header {
    height: 100vh;
    padding: 0;
  }
  .header__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 4.4rem;
    gap: 0;
  }
  .header__left {
    text-align: center;
    margin-bottom: 2rem;
  }
  .header__left p {
    margin: 0.5rem 0 1.2rem;
  }
  .header__image {
    position: relative;
    top: -2rem;
  }
  .header__right-bg {
    bottom: 36%;
  }
  .header__socials {
    position: absolute;
    z-index: 1;
    bottom: 11rem;
  }
  .header__socials a {
    color: #fff;
  }
  /* =================== TECHS =================== */
  .techs {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .techs span {
    height: 5rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  /* =================== SERVICES =================== */
  .services__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /* =================== PORTFOLIO =================== */
  .portfolio__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1fr;
  }
  .portfolio__head h3 {
    width: 96%;
  }
  .portfolio__head-right {
    width: 96%;
  }
  .portfolio__projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /* =================== TESTIMONIALS =================== */
  .testimonial {
    padding: 1rem;
  }
  /* =================== CONTACT =================== */
  .contact__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }
  .contact__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */