* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

// Sass variables
$color-primary: #7562e0;
$color-primary-variant: rgba(102, 0, 255, 0.2);
$color-white: #fff;
$color-light: #f5f5f5;
$color-black: #0f0f1b;
$color-dark: #4b4a53;

$container-width-lg: 82%;
$container-width-md: 90%;
$container-width-sm: 96%;
$transition-all-ease: all 400ms ease;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $color-dark;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    color: $color-black;
}

h1 {
    font-size: 4.4rem;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1rem;
}

.lead {
    width: 63%;
    line-height: 1.5;
    margin: 0 auto 3rem;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: $container-width-lg;
    max-width: 1800px;
    margin: 0 auto;
}

section {
    padding: 6rem 0;
    margin: 5rem 0;
}

.btn {
    background: $color-black;
    color: $color-white;
    display: inline-block;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $transition-all-ease;

    &:hover {
        background: $color-light;
        color: $color-black;
    }
}

.btn-primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
        border-color: $color-primary;
        background: $color-light;
        color: $color-primary;
    }
}

.btn-lg {
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
}

/* =================== Navbar =================== */
nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;

    background: $color-white;

    a {
        color: $color-black;
        font-size: 0.9rem;
        transition: $transition-all-ease;

        &:hover {
            color: $color-primary;
        }
    }
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*open and close buttons for tablets and phones*/
nav button {
    display: none;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

/* =================== Header =================== */
header {
    height: calc(100vh - 5rem);
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    height: 100%;

    h3 {
        color: $color-primary;
        margin-bottom: 0.6rem;
    }

    p {
        margin: 1.2rem 0 2rem;
    }
}

.header__right {
    position: relative;
    height: 100%;
}

.header__socials {
    position: absolute;
    right: 0;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.2rem;

    a {
        color: $color-white;
        transition: $transition-all-ease;
    }

    a:hover {
        color: $color-black;
    }
}

.header__right-bg {
    width: 70rem;
    height: 70rem;
    border-radius: 50%;
    background: $color-primary;
    position: absolute;
    right: -30rem;
    bottom: -30rem;
}

.header__image {
    width: 82%;
    position: absolute;
    bottom: -1rem;
    z-index: 1;
}

/* =================== Techs =================== */
section {
    #techs {
        position: relative;
        top: 5rem;
        padding: 0;
        background: $color-light;
        margin: 0;
    }
}

.techs__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    align-items: center;
    margin: auto;

    img {
        filter: grayscale(1);
    }
}

.techs__container {
    span {
        padding: 1.5rem;
    }
}

/* =================== Services =================== */
section {
    #services {
        margin-top: 8rem;
    }
}

.services__container {
    display: grid;
    grid-template-columns: 25% auto;
    gap: 2rem;
}

.services__left {
    background: $color-primary;
    padding: 2rem;
    color: $color-light;

    h1 {
        font-size: 7rem;
        font-weight: 600;
        color: $color-white;
    }

    h4 {
        line-height: 1.4;
        font-weight: 600;
        color: $color-white;
    }
}

.services__right {
    h2 {
        margin-bottom: 2rem;
    }
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.services__card {
    background: $color-light;
    padding: 4rem 2rem;
    cursor: default;
    transition: $transition-all-ease;

    &:hover {
        background: $color-primary;
        color: $color-white;

        * {
            color: $color-white
        }

        a {
            margin-left: 1rem;
        }
    }

    h5 {
        margin: 1rem 0;
    }

    a {
        color: #7562e0;
    }
}

.services__card-icon {
    font-size: 2rem;
}

/* =================== Portfolio =================== */
#portfolio {
    background: $color-light;
}

.portfolio__head {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    h3 {
        width: 25%;
    }
}

.portfolio__head-right {
    width: 49%;

    a {
        margin-top: 1.4rem;
        display: inline-block;
        color: $color-primary;
        transition: $transition-all-ease;

        &:hover {
            margin-left: 1rem;
        }
    }
}

.portfolio__projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio__project {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1rem;
}

.portfolio__project-image {
    height: 20rem;
    display: block;
    border: 1rem solid $color-white;
    overflow: hidden;
    box-shadow: 0 0 1.6rem $color-primary-variant;
    transition: $transition-all-ease;

    &:hover {
        box-shadow: none;

        img {
            // 18rem because project image height is 20rem + 1rem of border top and bottom
            transform: translateY(calc(-100% + 18rem));
        }
    }

    img {
        transform: 0;
        transition: all 5s ease;
    }
}

.portfolio__cta {
    display: flex;
    gap: 1rem;
}

/* =================== Testimonials =================== */
#testimonials {
    h2 {
        text-align: center;
    }
}

.testimonials__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background: $color-light;
    padding: 3rem;
    font-size: 0.88rem;
    border: 1px solid transparent;
    transition: $transition-all-ease;

    &:hover {
        background: transparent;
        border-color: $color-primary;
        color: $color-primary;
        box-shadow: 0 2rem 2rem $color-primary-variant;
        z-index: 1;
    }
}

.avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.testimonial__client {
    display: flex;
    gap: 1rem;
}

/* =================== Contact =================== */
#contact {
    background: $color-primary;
    color: $color-white;
    margin: 0;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    font-size: 0.9rem;

    h2 {
        color: $color-white;
    }

    p {
        margin: 1rem 0 2rem;
    }
}

.contact__socials {
    display: flex;
    gap: 1rem;

    a {
        color: $color-white;
        font-size: 1.3rem;
        transition: $transition-all-ease;

        &:hover {
            color: $color-black;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    input,
    textarea {
        padding: 1rem;
    }
}

footer {
    text-align: center;
    background: $color-primary;
    padding: 1.2rem 0;
    color: $color-white;
    border-top: 1px solid $color-black;
}

/* =================== MEDIA QUERIES (TABLETS) =================== */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .container {
        width: $container-width-md;
    }

    .lead {
        margin-top: 0.6rem;
    }

    /* =================== NAVBAR =================== */
    nav {
        background: $color-black;

        button {
            display: inline-block;
            margin-right: 1.4rem;
            background: transparent;
            color: $color-white;
            cursor: pointer;
            font-size: 2.4rem;
        }

        #close-menu-btn {
            display: none;
        }

    }

    .nav__container {
        position: relative;
        width: 100vw;
    }

    .nav__logo {
        h3 {
            color: $color-white;
            margin-left: 2rem;
        }
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 0;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
        perspective: 400px;

        li {
            width: 100%;
            height: 5.4rem;
            opacity: 0;
            animation: flipNavItem 200ms 0s ease forwards;
            transform-origin: top;

            a {
                background: $color-primary;
                box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
                color: $color-white;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $color-light;
                    color: $color-black;
                }
            }

            &:nth-child(2) {
                animation-delay: 100ms;
            }

            &:nth-child(3) {
                animation-delay: 200ms;
            }

            &:nth-child(4) {
                animation-delay: 300ms;
            }

            &:nth-child(5) {
                animation-delay: 400ms;
            }
        }
    }

    @keyframes flipNavItem {
        from {
            transform: rotateX(90deg);

        }

        to {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    /* =================== HEADER =================== */
    header {
        height: 100%;
        padding: 14rem 0 0;
    }

    .header__container {
        align-items: flex-end;
        height: 100%;
    }

    .header__left {
        margin-bottom: 6rem;
    }

    .header__right {
        align-self: flex-end;
        height: 100%;
    }

    .header__right-bg {
        width: 30rem;
        height: 30rem;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
    }

    .header__image {
        bottom: -1rem;
        width: 80%;
    }

    .header__socials {
        bottom: 4rem;

        a {
            color: $color-primary;
        }
    }

    /* =================== COMPANIES =================== */
    .techs__container {
        gap: 0;

        span {
            padding: 1.5rem;
        }
    }

    /* =================== SERVICES =================== */
    .services__container {
        grid-template-columns: 1fr;
    }

    .services__left {
        display: none;
    }

    .services__cards {
        gap: 1rem;
    }

    /* =================== PORTFOLIO =================== */

    .portfolio__head {
        h3 {
            width: 40%;
        }
    }

    .portfolio__head-right {
        width: auto;
    }

    /* =================== TESTIMONIALS =================== */
    .testimonials__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* =================== CONTACT =================== */
    .contact__container {
        gap: 2rem;
    }

    .contact__socials {
        a {
            font-size: 1.7rem;
        }
    }

}



/* =================== MEDIA QUERIES (MOBILE) =================== */
@media screen and(max-width: 600px) {
    .container {
        width: $container-width-sm;
    }

    section {
        padding: 4rem 0;
        margin: 4rem 0;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .btn-lg {
        font-size: 1rem;
    }

    .lead {
        width: $container-width-sm;
    }

    /* =================== NAVBAR =================== */
    nav {
        button {
            margin: 0;
            font-size: 1.9rem;
        }
    }

    .nav__logo {
        h3 {
            margin-left: 4px;
        }
    }

    /* =================== HEADER =================== */
    header {
        height: 100vh;
        padding: 0;
    }

    .header__container {
        grid-template-columns: 1fr;
        margin-top: 4.4rem;
        gap: 0;
    }

    .header__left {
        text-align: center;
        margin-bottom: 2rem;

        p {
            margin: 0.5rem 0 1.2rem;
        }
    }

    .header__image {
        position: relative;
        top: -2rem;
    }

    .header__right-bg {
        bottom: 36%;
    }

    .header__socials {
        position: absolute;
        z-index: 1;
        bottom: 11rem;

        a {
            color: $color-white;
        }
    }

    /* =================== TECHS =================== */
    .techs {
        grid-template-columns: repeat(3, 1fr);

        span {
            height: 5rem;
            display: grid;
            place-items: center;
        }
    }

    /* =================== SERVICES =================== */
    .services__cards {
        grid-template-columns: 1fr;
    }

    /* =================== PORTFOLIO =================== */
    .portfolio__head {
        flex-direction: column;
        gap: 1fr;

        h3 {
            width: $container-width-sm;
        }
    }

    .portfolio__head-right {
        width: $container-width-sm;
    }

    .portfolio__projects {
        grid-template-columns: 1fr;
    }

    /* =================== TESTIMONIALS =================== */
    .testimonial {
        padding: 1rem;
    }

    /* =================== CONTACT =================== */
    .contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .contact__socials {
        justify-content: center;
    }

}