* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #4b4a53;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0f0f1b;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

.lead {
  width: 63%;
  line-height: 1.5;
  margin: 0 auto 3rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 82%;
  max-width: 1800px;
  max-width: 0 auto;
}

section {
  padding: 6rem 0;
  margin: 5rem 0;
}

.btn {
  background: #0f0f1b;
  color: #fff;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.btn:hover {
  background: #f5f5f5;
  color: #0f0f1b;
}

.btn-primary {
  background: #7562e0;
  color: #fff;
}

.btn-primary:hover {
  border-color: #7562e0;
  background: #f5f5f5;
  color: #7562e0;
}

.btn-lg {
  padding: 1.1rem 2rem;
  font-size: 1.2rem;
}

/* =================== Navbar =================== */
nav {
  width: 100vw;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 2;
  background: #fff;
}

nav a {
  color: #0f0f1b;
  font-size: 0.9rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

nav a:hover {
  color: #7562e0;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*open and close buttons for tablets and phones*/
nav button {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

/* =================== Header =================== */
header {
  height: calc(100vh - 5rem);
  position: relative;
  top: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: 100%;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__left h3 {
  color: #7562e0;
  margin-bottom: 0.6rem;
}

.header__left p {
  margin: 1.2rem 0 2rem;
}

.header__right {
  position: relative;
  height: 100%;
}

.header__socials {
  position: absolute;
  right: 0;
  bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.header__socials a {
  color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header__socials a:hover {
  color: #0f0f1b;
}

.header__right-bg {
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  background: #7562e0;
  position: absolute;
  right: -30rem;
  bottom: -30rem;
}

.header__image {
  width: 82%;
  position: absolute;
  bottom: -1rem;
  z-index: 1;
}

/* =================== Techs =================== */
section #techs {
  position: relative;
  top: 5rem;
  padding: 0;
  background: #f5f5f5;
  margin: 0;
}

.techs__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.techs__container img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.techs__container span {
  padding: 1.5rem;
}
/*# sourceMappingURL=style.css.map */